<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>FabricToutFactoryClient2024</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- FILTERS -->
  <filter>
	<filter-name>LoginFilter</filter-name>
	<filter-class>be.petrucci.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>AddZoneToMachineServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>AddMachineServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>addMaintenanceServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>SeeAllMachinesServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>DeleteMachineServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>AddMachineWorkersToMaintenainceServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>SeeAllMaintenanceServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>DetailMaintenanceServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>AddSiteToRegisterServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>RegisterServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <servlet-name>DeleteMaintenanceServlet</servlet-name>
  </filter-mapping>
    <filter-mapping>
	<filter-name>LoginFilter</filter-name>
	<servlet-name>UpdateMachineServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
	<filter-name>LoginFilter</filter-name>
	<servlet-name>SeeAllWorkerWorkInProgressServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
	<filter-name>LoginFilter</filter-name>
	<servlet-name>CompleteMaintenanceServlet</servlet-name>
  </filter-mapping>
  
  <!-- SERVLETS -->
  <servlet>
  	<servlet-name>HomServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.HomServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddZoneToMachineServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.AddZoneToMachineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMachineServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.AddMachineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addMaintenance</servlet-name>
  	<servlet-class>be.petrucci.servlets.AddMaintenanceServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>SeeAllMachinesServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.SeeAllMachinesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMachineServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.DeleteMachineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMachineWorkersToMaintenanceServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.AddMachineWorkersToMaintenanceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SeeAllMaintenanceServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.SeeAllMaintenanceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DetailMaintenanceServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.DetailMaintenanceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSiteToRegisterServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.AddSiteToRegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMaintenanceServlet</servlet-name>
  	<servlet-class>be.petrucci.servlets.DeleteMaintenanceServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>UpdateMachineServlet</servlet-name>
	<servlet-class>be.petrucci.servlets.UpdateMachineServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>SeeAllWorkerWorkInProgressServlet</servlet-name>
	<servlet-class>be.petrucci.servlets.SeeAllWorkerWorkInProgressServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>CompleteMaintenanceServlet</servlet-name>
	<servlet-class>be.petrucci.servlets.CompleteMaintenanceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HomServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  	<url-pattern>/HomServlet</url-pattern>
  	<url-pattern>/home</url-pattern>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  	<url-pattern>/login</url-pattern>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  	<url-pattern>/logout</url-pattern>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddZoneToMachineServlet</servlet-name>
  	<url-pattern>/AddZoneToMachineServlet</url-pattern>
  	<url-pattern>/addzonetomachine</url-pattern>
  	<url-pattern>/AddZoneToMachine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMachineServlet</servlet-name>
  	<url-pattern>/AddMachineServlet</url-pattern>
  	<url-pattern>/addmachine</url-pattern>
  	<url-pattern>/AddMachine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addMaintenance</servlet-name>
  	<url-pattern>/AddMaintenanceServlet</url-pattern>
  	<url-pattern>/AddMaintenance</url-pattern>
  	<url-pattern>/addmaintenance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeeAllMachinesServlet</servlet-name>
  	<url-pattern>/SeeAllMachinesServlet</url-pattern>
  	<url-pattern>/seeallmachines</url-pattern>
  	<url-pattern>/SeeAllMachines</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMachineServlet</servlet-name>
  	<url-pattern>/DeleteMachineServlet</url-pattern>
  	<url-pattern>/deletemachine</url-pattern>
  	<url-pattern>/DeleteMachine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMachineWorkersToMaintenanceServlet</servlet-name>
  	<url-pattern>/AddMachineWorkersToMaintenanceServlet</url-pattern>
  	<url-pattern>/addmachineWorkerstomaintenance</url-pattern>
  	<url-pattern>/AddMachineWorkersToMaintenance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeeAllMaintenanceServlet</servlet-name>
  	<url-pattern>/SeeAllMaintenanceServlet</url-pattern>
  	<url-pattern>/SeeAllMaintenance</url-pattern>
  	<url-pattern>/seeallmaintenance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DetailMaintenanceServlet</servlet-name>
  	<url-pattern>/DetailMaintenanceServlet</url-pattern>
  	<url-pattern>/DetailMaintenance</url-pattern>
  	<url-pattern>/detailmaintenance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSiteToRegisterServlet</servlet-name>
  	<url-pattern>/AddSiteToRegisterServlet</url-pattern>
  	<url-pattern>/addsitetoregister</url-pattern>
  	<url-pattern>/AddSiteToRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  	<url-pattern>/register</url-pattern>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMaintenanceServlet</servlet-name>
  	<url-pattern>/DeleteMaintenanceServlet</url-pattern>
  	<url-pattern>/deletemaintenance</url-pattern>
  	<url-pattern>/DeleteMaintenance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>UpdateMachineServlet</servlet-name>
	<url-pattern>/UpdateMachineServlet</url-pattern>
	<url-pattern>/UpdateMachine</url-pattern>
	<url-pattern>/updatemachine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>SeeAllWorkerWorkInProgressServlet</servlet-name>
	<url-pattern>/SeeAllWorkerWorkInProgressServlet</url-pattern>
	<url-pattern>/SeeAllWorkerWorkInProgress</url-pattern>
	<url-pattern>/seeallworkerworkInprogress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>CompleteMaintenanceServlet</servlet-name>
	<url-pattern>/CompleteMaintenanceServlet</url-pattern>
	<url-pattern>/CompleteMaintenance</url-pattern>
	<url-pattern>/completemaintenance</url-pattern>
  </servlet-mapping>
</web-app>

